<div class="row">
  <div class="col s2">
    <form action="" [formGroup]="form" (ngSubmit)="getData()">
      <mz-select-container>
        <select mz-select id="options-select-measure" [placeholder]="'Тип измерителя'" formControlName="measureType" required>
          <option class="left circle" *ngFor="let el of measureType" [value]="el.type">
            {{el.name}}
          </option>
        </select>
      </mz-select-container>

      <mz-select-container>
        <select mz-select id="options-select-position" [placeholder]="'Координаты станций'"  required formControlName="stationPosition">
          <option class="left circle" *ngFor="let el of stationPosition" [value]="el.number">
            {{el.name}}
          </option>
        </select>
      </mz-select-container>

      <mz-select-container>
        <select mz-select id="options-select-serialNumber" [placeholder]="'Серийный номер'" required formControlName="serialNumber">
          <option class="left circle" *ngFor="let el of serialNumber" [value]="el.value">
            {{el.value}}
          </option>
        </select>
      </mz-select-container>

      <mz-select-container>
        <select mz-select id="options-select-amkProps" [placeholder]="'Выберите параметр'" required formControlName="amkParam">
          <option class="left circle" *ngFor="let el of meteoService.amkParams" value="{{el.id}}">
            {{el.paramName}}
          </option>
        </select>
      </mz-select-container>

      <mz-input-container>
        <input type="text" mz-input id="timeInterval" required formControlName="timeInterval">
      </mz-input-container>

      <!-- Выбор временного периода -->
      <mz-datepicker-container>
        <i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
        <input mz-datepicker [label]="'Период От'" [options]="options" id="datepickerFrom"
               placeholder="Выберите дату" type="text" required formControlName="dateFrom">
      </mz-datepicker-container>

      <mz-datepicker-container>
        <i mz-icon-mdi mz-input-prefix [icon]="'calendar'"></i>
        <input mz-datepicker [label]="'Период До'" [options]="options" id="datepickerTo"
               placeholder="Выберите дату" type="text" required formControlName="dateTo">
      </mz-datepicker-container>
      <!-- Выбор временного пероида -->

      <button mz-button type="submit" [disabled]="!form.valid">
        Показать данные
      </button>
    </form>
  </div>

<!-- Отображением графика -->
  <div class="col s10">
    <!--<div class="chart-container" style="position: relative; width: 100%; height: 150px;" *ngIf="chart">-->
      <!--<canvas id="canvas"></canvas>-->
    <!--</div>-->

    <plotly-plot *ngIf="plotly" [data]="plotly.data" [layout]="plotly.layout"></plotly-plot>
  </div>
</div>
