<div class="container">
  <div class="row">
    <div class="col s3">
      <mz-select-container>
        <select mz-select id="options-select-city" [placeholder]="'Choose The City'" [(ngModel)]="selectedCity">
            <option class="left circle" *ngFor="let el of city" [value]="el.indexVMO">
              {{el.city}}
            </option>
        </select>
      </mz-select-container>
      <div class="container">
        <button mz-button (click)="getData()">Show Data</button>
      </div>
    </div>
    <div class="col s3">
      <mz-select-container>
        <select mz-select id="options-select-type" [placeholder]="'Choose The Datatype'" [(ngModel)]="selectedType">
          <option class="left circle" *ngFor="let el of dataType" [value]="el.value">
            {{el.name}}
          </option>
        </select>
      </mz-select-container>
    </div>
    <mz-datepicker-container *ngIf="selectedType" class="col s3">
    <i mz-icon-mdi mz-input-prefix
       [icon]="'calendar'">
    </i>
    <input mz-datepicker
           [label]="'Period From'"
           [options]="options"
           id="datepickerFrom"
           placeholder="Select date"
           type="text"
           [(ngModel)]="dateFrom">
    </mz-datepicker-container>
    <mz-datepicker-container *ngIf="selectedType" class="col s3">
      <i mz-icon-mdi mz-input-prefix
         [icon]="'calendar'">
      </i>
      <input mz-datepicker
             [label]="'Period To'"
             [options]="options"
             id="datepickerTo"
             placeholder="Select date"
             type="text"
             [(ngModel)]="dateTo">
    </mz-datepicker-container>
  </div>
</div>

<div class="container" *ngIf="chart">
  <canvas id="canvas"></canvas>
</div>
